<!doctype html>
<html>

<head>
  <base href="/">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.publicPath %>favicon.png" />
  <link rel="preload" as="image" media="(min-width: 960px)" href="https://img-cdn.xue.cn/62-bg_web.jpg">
  <link rel="preload" as="image" media="(max-width: 959px)" href="https://img-cdn.xue.cn/62-bg_mb.jpg">
  <title>Rumsystem</title>
  <!-- style-start -->
  <!-- preflight-injection-point -->
  <!-- mui-insertion-point -->
  <!-- style-loader-insertion-point -->
</head>

<body>
  <div id="root"></div>
</body>

</html>
